# Task 4: SQL 

## Author: Cera Drake 

## Date: 9/24/2023

## Connect the Database

In [16]:
import sqlite3

connection = sqlite3.connect("books.db")

## Set table to 10 columns

In [17]:
import pandas as pd
pd.options.display.max_columns = 10
pd.read_sql("SELECT * FROM authors", connection, index_col=["id"])

DatabaseError: Execution failed on sql 'SELECT * FROM authors': no such table: authors

## Select

In [10]:
import pandas as pd
pd.read_sql('SELECT first, last FROM authors', connection)

DatabaseError: Execution failed on sql 'SELECT first, last FROM authors': no such table: authors

## Where

In [11]:

pd.read_sql("""SELECT title, edition, copyright FROM titles WHERE copyright > '2016'""", connection)

DatabaseError: Execution failed on sql 'SELECT title, edition, copyright FROM titles WHERE copyright > '2016'': no such table: titles

### Where: Query 2

In [ ]:

pd.read_sql("""SELECT id, first, last FROM authors WHERE last LIKE 'D%'""", connection, index_col=['id'])

### Where: Query 3

In [ ]:

pd.read_sql("""SELECT id, first, last FROM authors WHERE first LIKE '_b%'""", connection, index_col=['id'])

## Order By : Query 1

In [ ]:

pd.read_sql('SELECT title FROM titles ORDER BY title ASC', connection)

### Order By: Query 2

In [ ]:

pd.read_sql("""SELECT id, first, last FROM authors ORDER BY last, first""", connection, index_col=['id'])

### Order By: Query 3

In [ ]:
pd.read_sql("""SELECT id, first, last FROM authors ORDER BY last DESC, first ASC""", connection, index_col=['id'])

### Order By: Query 4

In [ ]:
pd.read_sql("""SELECT isbn, title, edition, copyright FROM titles WHERE title LIKE '%How to Program' ORDER BY title""", connection)

### Inner Join

In [ ]:
pd.read_sql("""SELECT first, last, isbn FROM authors INNER JOIN author_ISBN ON authors.id = author_ISBN.id ORDER BY last, first""", connection).head()

SyntaxError: invalid syntax (3269089377.py, line 1)

### Insert Into

In [ ]:

cursor = connection.cursor()
cursor = cursor.execute("""INSERT INTO authors (first, last) VALUES ('Sue', 'Red')""")

### Insert Into : Query 2

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', connection, index_col=['id'])

### Update

In [ ]:
cursor.execute("""UPDATE authors SET last='Black' WHERE last='Red' AND first='Sue'""")

### Update: Query 2

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors' , connection, index_col=['id'])

### Delete From

In [ ]:
cursor = cursor.execute('DELETE FROM authors WHERE id=6')

### Delete From : Query 2

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', connection, index_col=['id'])

### Select

In [ ]:
pd.read_sql("""SELECT title, edition FROM titles ORDER BY edition DESC""", connection).head(3)

In [3]:
pd.read_sql("""SELECT * FROM authors WHERE first LIKE 'A%'""", connection)

NameError: name 'pd' is not defined

In [ ]:
pd.read_sql("""SELECT isbn, title, edition, copyright FROM titles WHERE title NOT LIKE '%How to Program' ORDER BY title""", connection)