## Task 2 17.2.1

## Connect to the database in Python

In [2]:
import sqlite3

connection = sqlite3.connect('books.db')

## View the authors Table's Contents

In [3]:
import pandas as pd

pd.options.display.max_columns = 10

pd.read_sql('SELECT * FROM authors', connection, index_col=['id'])

DatabaseError: Execution failed on sql 'SELECT * FROM authors': no such table: authors

## I chose this example because this seems like the essential first step in pulling information from a database