# Task 4: SQL 

## Author: Cera Drake 

## Date: 9/24/2023

## Connect the Database

In [1]:
import sqlite3

connection = sqlite3.connect('books.db')

## Set table to 10 columns

In [2]:
import pandas as pd
pd.options.display.max_columns = 10
pd.read_sql('SELECT * FROM authors', connection, index_col=['id'])

ModuleNotFoundError: No module named 'pandas'

## Select

In [ ]:
import pandas as pd
pd.read_sql('SELECT first, last FROM authors', connection)

## Where

In [ ]:
import pandas as pd
pd.read_sql("""SELECT title, edition, copyright FROM titles WHERE copyright > '2016'""", connection)

### Where: Query 2

In [ ]:
import pandas as pd
pd.read_sql("""SELECT id, first, last FROM authors WHERE last LIKE 'D%'""", connection, index_col=['id'])

### Where: Query 3

In [ ]:
import pandas as pd
pd.read_sql("""SELECT id, first, last FROM authors WHERE first LIKE '_b%'""", connection, index_col=['id'])

## Order By : Query 1

In [ ]:
import pandas as pd 
pd.read_sql('SELECT title FROM titles ORDER BY title ASC', connection)

### Order By: Query 2

In [ ]:
import pandas as pd 
pd.read_sql("""SELECT id, first, last FROM authors ORDER BY last, first""", connection, index_col=['id'])

### Order By: Query 3

In [ ]:
import pandas as pd 
pd.read_sql("""SELECT id, first, last FROM authors ORDER BY last DESC, first ASC""", connection, index_col=['id'])

### Order By: Query 4

In [ ]:
import pandas as pd 
pd.read_sql("""SELECT isbn, title, edition, copyright FROM titles WHERE title LIKE '%How to Program' ORDER BY title""", connection)